*{
    font-family:cursive;
    }
body{
    background-image: url("about.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}    
#third{
    background:whitesmoke;
    
}
#fourth{
    background: black;
}