*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#check:checked~ul{
    top:0;
    opacity: 1;
}
html{
     scroll-behavior: smooth;   
}

#first{
    background:url('image.jpg') center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
#second{
    background: white center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  

}
#about{
    background-image: url("about.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}    
#third{
    background:whitesmoke;
    opacity: 0.8;
}
#fourth{
    background: black;
    opacity: 0.9;
}

