*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right,#ee9ca7,#ffdde1);
}
.container{
    max-width: 600px;
    height:50vh;
    padding:35px;
    background-color: rgba(248, 248, 248, 0.507);
    border-radius:8px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(146, 14, 14);
}
#Celcius,#Fahrenheit,#Kelvin{
    justify-content: center;
    align-items: center;
    margin-top:20px;
    color: black;
}
input{
    text-align: center;
    align-items: center;
    height: 45px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px 8px 8px 8px;
    padding: 15px;
    width: 50vh;
}
input:hover{
    background-color: rgba(44, 42, 42, 0.24);
}
.clear{
    margin:2px;
    padding: 40px;
    text-align: center;
}
.clear button{
    border: none;
    outline: none;
    padding: 10px 40px;
    background-color:rgba(155, 14, 14, 0.521);
    cursor:pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    box-shadow:2px 2px 2px 2px rgb(17, 16, 16);
    transition: all 0.3s ease-in-out;
}
.clear button:hover{
    background:rgba(155, 14, 14, 0.986);
    color: white;
    transform: scale(0.8);
}
@media(max-width:767px){
    .container{
        height: auto;

    
    }
}
