*{
font-family:cursive;
}
body{
    
    background-image: url("menu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
  }